{% extends 'index.html' %}
{% block title %}{{ 'Home' }}{% endblock %}
{% load filters %}
{% load static %}
{% block content %}


    <div class="flex  antialiased text-gray-900 p-10">


        <div class="flex-1  overflow-x-hidden overflow-y-auto">

            <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
            </div>

            <div class="mt-2">
                <div class="grid grid-cols-1  gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">

                    <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                        <div>
                            <h6
                                    class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                            >
                                Total Contestant
                            </h6>
                            <span class="text-xl font-semibold">{{ contestant.0 }}</span>
                            {#                            <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">#}
                            {#                      {{ contestant.1|percentage }}#}
                            </span>
                        </div>
                        <div>
                    <span>
                                          <img height="54px" width="54px" src="{% static 'ninja.png' %}">

                    </span>
                        </div>
                    </div>
                    <div class="flex lg:col-span-2 items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                        <div>
                            <h6 class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                                Upcoming Contest
                            </h6>
                            <span class="text-xl font-semibold ">{{ upcoming.0 }}</span>
                            <span class="inline-block px-2 py-px ml-2 text-xs text-red-500 bg-red-100 rounded-md">
                      {{ upcoming.1 }}
                    </span>
                        </div>
                        <div>
                    <span>
                        <img height="54px" width="54px" src="{% static 'upcoming.png' %}">
                    </span>
                        </div>
                    </div>

                    {#                    <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">#}
                    {#                        <div>#}
                    {#                            <h6#}
                    {#                                    class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"#}
                    {#                            >#}
                    {#                                Last Contest University Rank#}
                    {#                            </h6>#}
                    {#                            <span class="text-xl font-semibold">{{ last_uni_rank.0 }}</span>#}
                    {#                            <span class="inline-block px-2 py-px ml-2 text-xs {{ last_uni_rank.2|card_class }} rounded-md">#}
                    {#                      {{ last_uni_rank.1 }}#}
                    {#                    </span>#}
                    {#                        </div>#}
                    {#                        <div>#}
                    {#                    <span>#}
                    {#                        <img height="54px" width="54px" src="{% static 'top-rated.png' %}">#}
                    {#                    </span>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <!-- Tickets card -->
                    <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                        <div>
                            <h6 class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                                University Rank
                            </h6>
                            <span class="text-xl font-semibold">{{ uni_rank.0 }}</span>
                            <span class="inline-block px-2 py-px ml-2 text-xs {{ uni_rank.1|card_class }} rounded-md">

                      {{ uni_rank.1|remove_bracket }}
                                {% with x=uni_rank.1|remove_bracket %}
                                    <i class="fas {{ x|get_class }} mr-4"></i>
                                {% endwith %}
                    </span>
                        </div>
                        <div>
                    <span>
                        <img height="54px" width="54px" src="{% static 'ranking.png' %}">
                    </span>
                        </div>
                    </div>
                </div>

                <!-- Charts -->
                <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-2 sm:grid-cols-1 ">

                    <div class="col-1 bg-white rounded-md dark:bg-darker">
                        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Department
                                Rank-list</h4>
                        </div>
                         <div class="relative p-4 h-72">

                            <div class="block w-full overflow-x-auto">
                                <table class="items-center bg-transparent w-full border-collapse ">
                                    <thead>
                                    <tr>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Name
                                        </th>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Rating
                                        </th>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Rating Change
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for i in all_data.dept|slice:":5" %}
                                        <tr>
                                            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                                {{ i.0|get_name }}
                                            </th>
                                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                                {{ i.1 }}
                                            </td>
                                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                                <i class="fas {{ i.2|get_class }} mr-4"></i>
                                                {{ i.2|rating_delta }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="col-1 bg-white rounded-md dark:bg-darker">
                        <!-- Card header -->
                        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">University Rank-list</h4>
                        </div>
                        <!-- Chart -->
                        <div class="relative p-4 h-72">


                            <div class="block w-full overflow-x-auto">
                                <table class="items-center bg-transparent w-full border-collapse ">
                                    <thead>
                                    <tr>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Name
                                        </th>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Rating
                                        </th>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Rating Change
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for i in all_data.university|slice:":5" %}
                                        <tr>
                                            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                                {{ i.0|get_name }}
                                            </th>
                                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                                {{ i.1 }}
                                            </td>
                                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                                <i class="fas {{ i.2|get_class }} mr-4"></i>
                                                {{ i.2|rating_delta }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-5">

                    <div class="col-span-3 bg-white rounded-md dark:bg-darker xs:col-span-1">
                        <div class="p-4 border-b dark:border-primary">
                            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Weekly Problem Solving Data
                                </h4>
                        </div>
                        <canvas class="p-1" id="UsersWeeklyChart"></canvas>
                    </div>

                    <div class="col-span-2 bg-white rounded-md dark:bg-darker xs:col-span-1">
                        <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Top Problem Solvers</h4>
                        </div>
                         <div class="relative p-4 h-72">

                            <div class="block w-full overflow-hide">
                                <table class="items-center bg-transparent w-full border-collapse  ">
                                    <thead>
                                    <tr>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Name
                                        </th>
                                        <th class="px-5 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                            Total Solved
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for i in all_data.weekly|slice:":5" %}
                                        <tr>
                                            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                                {{ i.0|get_name }}
                                            </th>
                                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4  text-center">
                                                {{ i.1 }}
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>

                <div class="p-4 space-y-8 lg:gap-8 lg:space-y-0">
                    <div class="bg-white rounded-md dark:bg-darker">
                        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Last 15 Days</h4>
                            <div class="flex items-center space-x-2">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold  px-2 rounded"
                                        onclick="resetlines()">
                                    <span class="material-symbols-outlined text-sm">reset_image</span></button>
                            </div>
                        </div>
                        <canvas class="p-1" id="myChart"></canvas>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart');
        {# rating change date #}

        var xValues = [];

        {% for i in all_data.dept.0.2|get_rating_fortnight %}
            xValues.push('{{ i.0|date:"M d" }}');
        {% endfor %}

        xValues.push('{{ all_data.dept.0.2|last|last|next_day|date:"M d" }}');


        const mylines = new Chart(ctx,
            {

                type: 'line',
                data: {
                    labels: xValues,
                    datasets: [
                        {% for i in all_data.dept %}
                            {
                                label: '{{ i.0|get_name }}',
                                data: [
                                    {% for i in i.2|get_rating_fortnight %}
                                        {{ i.1 }},
                                    {% endfor %}

                                ],
                                backgroundColor: '{{ i.3 }}',
                                borderColor: '{{ i.3 }}',
                                fill: false,
                                tension: 0.1
                            },
                        {% endfor %}
                    ]
                },
                options: {

                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                        },

                        zoom: {
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy',
                            }
                        }
                    },


                },
            });

        function resetlines() {
            mylines.resetZoom();
        }

        const weekly = document.getElementById('UsersWeeklyChart');

        const days = [];

        {% for j in all_data.weekly.0.2|get_solved_weekly %}
            days.push('{{ j.0|date:"D" }}');
        {% endfor %}

        const weeklydata = [];
        const barchart = new Chart(weekly, {
            type: 'bar',
            data: {
                labels: days,

                datasets: [

                    {% for i in all_data.weekly %}
                        {
                            label: '{{ i.0|get_name }}',
                            data: [
                                {% for j in i.2|get_solved_weekly %}
                                    {{ j.1 }},
                                {% endfor %}
                            ],
                            backgroundColor: '{{ i.3 }}',
                        },
                    {% endfor %}

                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            },
        });


    </script>


{% endblock %}